.personCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  width: 1080px;
}
.personCont section {
  background-color: #39405e;
  padding: 70px 30px 70px 30px;
}
.personCont section:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.personCont section:first-child > div {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
.personCont section:first-child h3 {
  font-size: 30px;
}
.personCont section:first-child h5 {
  font-size: 20px;
}
.personCont section:first-child p {
  line-height: 1.5;
}
.personCont section:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.personCont section:nth-child(2) h3 {
  font-size: 30px;
}

.assetGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.assetItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
